*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    font-family: 'dotum';
    text-decoration: none;
}
a,span{
    color: #383838;
}
a:hover, a:hover span, span:hover{
    text-decoration: underline;
    color: #1194c6;
}
html,body{
    height: 100%;
}
body{
    background: url("../images/bg_bd.png");
}
.pannel{
    position: relative;
    left: 50%;
    top:50%;
    margin-left: -475px;
    margin-top: -280px;
    width: 950px;
    height: 560px;
    background: url("../images/bg_panel.png") no-repeat;
    background-position: 7px;
}
.wrap{
    margin: 0 auto;
    width: 900px;
    height: 540px;
}
header{
    position: relative;
    margin: 0 auto;
    width: 840px;
    height: 105px;
    padding-top: 20px;
}
.top_bt{
    height: 25px;
    border-bottom: 3px solid #545454;
}
.top_bt li a{
    float: left;
    background-image: url("../images/sp_nwstd.png");
    background-repeat: no-repeat;
    margin-right: 4px;
    height: 22px;
}
.top_bt li:first-child a{
    background-position: -187px -199px;
    width: 66px;
}
.top_bt li:nth-child(2) a{
    position: relative;
    background-position: -293px -174px;
    width: 75px;
}
.top_bt li:nth-child(2) a .rd{
    position: absolute;
    left: 70px;
    background-image: url("../images/sp_nwstd.png");
    background-repeat: no-repeat;
    background-position: -394px -174px;
    width: 5px;
    height: 22px;
}
.top_bt li:nth-child(3) a{
    background-position: -500px -270px;
    width: 28px;
}
.top_bt li:nth-child(4) span{
    margin-right: 4px;
    color: #888;
    line-height: 22px;
}
.main_banner{
    position: absolute;
    right: 0;
    bottom: 30px;
    background: url('../images/banner.jpg');
    width: 468px;
    height: 60px;
}
.main_banner a{
    width: 468px;
    height: 60px;
}



section{
    width: 850px;
    margin-left: 30px;
    height: 380px;
    overflow: hidden;
}
section .paragraph1{
    width: 90px;
    height: 100%;
    float: left;
    margin-right: 10px;
}
section .paragraph2{
    width: 530px;
    height: 100%;
    float: left;
    margin-right: 10px;
}
section .paragraph3{
    width: 200px;
    height: 100%;
    float: left;
    margin-right: 10px;
}


/*왼쪽배너*/
.banner{
    position: relative;
    margin-top: 5px;
    width: 90px;
    height: 341px;
    border: 1px solid #d6d6d6;
}
.weather{
    position: absolute;
    left: -1px;
    top: -1px;
    text-align: center;
    width: 92px;
    height: 26px;
    background-image: url("../images/013.gif");
    z-index: 1;
}
.weather a:first-child{
    position: absolute;
    left: 10px;
    top: 4px;
    width: 20px;
    height: 20px;
}
.weather a:last-child{
    position: absolute;
    right: 10px;
    top: 7px;
    font-weight: bold;
    color: #fff;
    font-size: 10px;
    font-family: 'Verdana';
}

.cont{
    margin: 40px auto 0;
    width: 78px;
    height: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cont .banner_title1,
.cont .banner_title2{
    width: 39px;
    height: 11px;
    margin-bottom: 5px;
}
.cont .banner_title1{
    background-image: url("../images/003.gif");
}
.cont .banner_title2{
    background-image: url("../images/005.gif");
}
.cont a{
    display: block;
}
.cont a img{
    width: 78px;
    height: 87px;
    margin-bottom: 4px;
}
.cont a span{
    font-size: 11px;
}

.mg0{
    margin-top: 15px;
}


/*메인 배너*/
.main1{
    position: relative;
    width: 351px;
    height: 197px;
    float: left;
    background: url('../images/007.jpg') no-repeat;
    background-size: 100%;
}
.gra1{
    position: absolute;
    width: 351px;
    height: 197px;
    background: url('../images/016.png');
}
.main1 > a{
    position: absolute;
    display: block;
    width: 351px;
    height: 197px;
}
.main1 > a:hover{
    text-decoration: underline;
    color: #fff;
}
.main1 a h2{
    margin: 120px 10px 10px;
    font-size: 19px;
    color: #fff;
    letter-spacing: -2px;
}
.main1 > a span{
    display: block;
    margin: 10px;
    color: #b9b9b9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main2{
    position: relative;
    float: right;
    width: 172px;
    height: 96px;
    background: url('../images/008.jpg') no-repeat;
    background-size: 100%;
    margin-bottom: 5px;
}
.main2 > a{
    position: absolute;
    display: block;
    width: 172px;
    height: 96px;
}
.main2 > a:hover{
    text-decoration: underline;
    color: #fff;
}
.main2 > a span{
    padding-top: 50px;
    display: block;
    margin: 10px;
    color: #fff;
    overflow: hidden;
}
.main3{
    position: relative;
    float: right;
    width: 172px;
    height: 96px;
    background: url('../images/009.jpg') no-repeat;
    background-size: 100%;
}
.main3 > a{
    position: absolute;
    display: block;
    width: 172px;
    height: 96px;
}
.main3 > a:hover{
    text-decoration: underline;
    color: #fff;
}
.main3 > a span{
    padding-top: 50px;
    display: block;
    margin: 10px;
    color: #fff;
    overflow: hidden;
    letter-spacing: -0.2px;
}
.gra2{
    position: absolute;
    width: 172px;
    height: 96px;
    background: url('../images/015.png');
}


.main4{
    position: relative;
    width: 528px;
    height: 173px;
    margin-top: 205px;
    border: 1px solid #d6d6d6;
}
.bar_title{
    position: absolute;
    left: -1px;
    top: -1px;
    text-align: center;
    width: 530px;
    height: 23px;
    line-height: 25px;
    background-image: url("../images/013.gif");
    z-index: 1;
}
.bar_title a{
    color: #fff;
}
.short_line{
    position:relative;
    top: 1px;
    margin: 0 5px;
    display: inline-block;
    width: 1px;
    height: 12px;
    background: url("../images/017.gif");
}
.sub_main{
    margin: 35px 15px 15px;
    width: 223px;
    height: 123px;
}
.sub_main ul li{
    width: 100px;
    height: 56px;
}
.sub_main ul li:first-child{
    margin-bottom: 10px;
}
.sub_main ul li a{
    display: block;
    position: relative;
}
.sub_main ul li a img{
    width: 100%;
}
.sub_main ul li a span{
    position: absolute;
    top: 5px;
    left: 110px;
    display: inline-block;
    width: 113px;
    height: 48px;
}
.sub_main2{
    position: absolute;
    top: 22px;
    left: 253px;
    width: 275px;
    height: 150px;
    border-left: 1px solid #f3f3f3;
}
.sub_main2 ul{
    padding: 8px 10px;
}
.sub_main2 ul li{
    background: url("../images/019.gif") 0 5px no-repeat;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 8px 0;
}
.sub_main2 ul li a{
    margin-left: 10px;
}


/*오른쪽 배너*/
.right_banner{
    width: 200px;
    height: 195px;
    border: 1px #ddd solid;
}
.right_banner ul{
    padding: 8px 10px;
}
.right_banner ul li{
    overflow: hidden;
    padding-bottom: 5px;
    margin: 0 0 5px;
    border-bottom: 1px solid #f7f7f7;
}
.right_banner ul li a{
    letter-spacing: -0.2px;
}
.right_banner ul li a span{
    letter-spacing: -0.2px;
    color: #1194c6;
}

.right_banner2{
    position: relative;
    margin-top: 8px;
    width: 200px;
    height: 173px;
    border: 1px #ddd solid;
}
.right_banner2 .em{
    position: absolute;
    width: 75px;
    height: 23px;
    background-color: #fa870c;
    text-align: center;
    z-index: 1;
}
.right_banner2 .em span{
    display: block;
    margin-top: 5px;
    font-size: 11px;
    color: #fff;
}
.right_banner2 ul li > a img{
    position: relative;
    top: -1px;
    left: -1px;
    width: 200px;
    height: 110px;
    border: 1px #ccc solid ;
}
.right_banner2 ul li > a strong{
    display: block;
    margin: 5px 10px;
}
.right_banner2 ul li > a span{
    display: block;
    margin: 0 10px;
    color: #7b7b7b;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.right_banner2 ul li > a span:hover{
    text-decoration: none !important;
    color: #7b7b7b;
}

/*바로가기*/
.going{
    position: absolute;
    right: 52px;
    bottom: 34px;
    letter-spacing: -0.5px;
}
.going > a{
    width: 120px;
    height: 16px;
    font-size: 11px;
    text-decoration: none;
    color: #000;
}
.going > a strong{
    color: #4a7ce4;
}
.going > a span{
    display: inline-block;
    width: 5px;
    height: 6px;
    background: url("../images/sp_nwstd.png") -510px -300px no-repeat;
}
