@media screen and(max-width:769px){
    body{
        background-image:url(@mobileBg);
        background-position: center center;
    }
    header{
        height: 55px;  /* bg 로 줬던 값 반응형에 맞게 사이즈 조절 */
        h1{
            a{
                width: 80px;
                height: 40px;
                padding: 0;
                margin-top: 5px;
                margin-left: -20px;
                background-size: cover;
            }
        }
        nav{
            .menu {     /* 캐스케이딩으로 우선순위를 제데로 안잡아줘야 하기 때문에 앞에 header가 명시되어야 한다.*/
                display: block;  /*사이즈가 줄어들면서 none 에서 block으로 다시 보여지는 상태가 된다.*/
            /*  &:hover + ul{
                    display: block;
                }  스크립트 쓰면서 hover 가 아닌 click 으로 쓰기 위해 삭제*/
            }
            ul {
                display:none;   /* header nav .menu 가 block 으로 바뀌었으니 기존 메뉴는 숨어야 한다.*/
                position: absolute; /* 원래대로라면 absolute로 인해서 .menu 랑 분리되어 붕 떳기때문에 hover 했을 시에 별개의 오브젝트가 되어버린다.*/
                width: 200px;
                background-color: rgba(255, 255, 255, 0.7);
                z-index: 1;  /* .bglogo 와 겹치지 않게 하기위에서 값을 줌.*/
                li{
                    float: none;  /*float: left; 로 정렬이 된걸 세로형으로 하려고 none 시킴.*/
                    display: block; /* display: block; 이 자식 영역에 쓰였을 경우 부모영역만큼 꽉 참*/
                    height: 55px;
                    line-height: 55px;
                    a{
                        border-left: 0px @base-color solid;
                        &:hover{
                            border-top: 0;
                            border-left: 5px @base-color solid;
                        }
                    }
                }
            }
        }
    }
    section{
        .biglogo{
            margin-top: 0;   /* 이미 pc 버전 제작시 margin-top: 12%; 먹은것 없앤거*/
            transform:scale(0.8);
        }
    }

    // content 공통부분 시작
    section{
        .title{
            .bgsize(40%);
            height: 70px;
        }
    }
    // content 공통부분 끝

    // discography 시작
    section.discography{
        .wrap{
            .album-list{
                li{
                    width: 100px;
                    img{
                        width: 100%;
                    }
                }
            }
            .left,.content{
                display: block;
                width: auto;
                float: none;
            }
            .left{
                max-width: 350px;
                margin-right: 0px;
            }
        }
    }
    // discography 끝

    // gallery 시작
    section.gallery{
        .wrap{
            .grid-list{
                ul{
                    padding-left: 2%;
                    /* 왼쪽 정렬이기 떄문에 좀 떨궈줘서 가운데 처럼 보이게 함*/
                    li{
                        width:33.333333%;  
                        /*이미지 width 값을 늘려서 overflow:hidden 영역보다 많게 하여 밑으로 떨어지게 하기위해*/
                    }
                }
            }
        }

    }
    // gallery 끝







}
