*{margin: 0; padding: 0;}
html,body{
    height: 100%;
}
ul{
    list-style: none;
}
body{
    margin: 0;
    background-image: url(@pcBg);
    background-repeat: no-repeat;
    .bgsize(cover);
    background-position:center;
}
header{
    height: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 20px;
    box-shadow: 0 2px 10px #666;
             // x  y  퍼짐정도 오퍼시티정도
    h1{
        background-image: url(@logo);
        width:104px;
        height: 52px;
        float: left;
    }
    nav{
        float: right;
        li{
            float:left;
            height:100px;
            line-height:100px; /* 이거 하나만 써줘도 되는데 표준성 때문에 height:100px;도 씀*/
            a{
                padding: 0 18px;
                text-decoration:none;
                font-size: 16px;
                color:(@text-color);
            }
        }
    }
}
