@pcBg:"../image/Z.jpg";
@mobileBg:"../image/bg-720.jpg";
@logo:"../image/logo-s.png";
@biglogo:"../image/mainlogo.png";
@bottomlogo:"../image/jyplogo-b.png";


//색상 종류
@text-color:#ff5d9f;
@base-color:#f8c899;
