*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration:none;
    color: #333;
}
html,body{
    height: 100%;
    font-family:'Nanum Gothic';
    font-size: 16px;
    color: #333;
    background-color: #fafafa;
}



/*회원가입1*/

section.join{
    background: url('../images/bg_mem_repeat.png') repeat-x;
}
section.join .logo{
    margin: 0 auto;
    width: 600px;
    text-align: center;
    padding: 68px 0 42px;
}
section.join .logo img{
    width: 206px;
    height: 56px;
}
section.join .wrap{
    margin: 0 auto 30px;
    width: 500px;
    background-color: #fff;
    border: 1px #e1e1e1 solid;
}
section.join .wrap h1{
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    padding-top: 35px;
}
section.join .wrap .form{
    margin: 0 auto 30px;
    width: 400px;
}
section.join .wrap .form .join_bt{
    width: 400px;
    height: 43px;
    margin-top: 30px;
    text-align: center;
}
section.join .wrap .form .join_bt ul li{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 150px;
    height: 35px;
    overflow: hidden;
    outline: 2px #ccc solid;
    margin: 0 -2px;
}
section.join .wrap .form .join_bt ul li a{
    color: #7d7d7d;
}
section.join .wrap .form .join_bt ul li.on{
    position: relative;
    outline: 2px #00cd3c solid;
    background-color: #fff;
    z-index: 1;
}
section.join .wrap .form .join_bt ul li.on a{
    font-weight: bold;
    color: #00cd3c;
}
section.join .wrap .form .join_bt ul li a{
    display: block;
    width: 150px;
    height: 35px;
    padding-top: 8px;
}
.form p{
    margin: 20px 0 ;
}
.form input,select{
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    border: none;
    margin-left: 10px;
}
.form .change .email{
    display: none;
}
.form .change .email table tbody tr:first-child td{
    position: relative;
}

table{
    line-height: 45px;
    border-spacing: 0 10px;
}
table tbody tr td.text{
    border: 1px #bbb solid;
    border-radius: 5px;
}


section.join .wrap .line{
    border-top: 1px #e1e1e1 solid;
}



section.join .wrap .agree{
    margin: 0 auto;
    width: 400px;
}
section.join .wrap .agree a{
    display: block;
    height: 40px;
}
section.join .wrap .agree .all li{
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px #e1e1e1 solid;
}
section.join .wrap .agree .all span{
    color: #9a9a9a;
    font-size: 13px;
}
section.join .wrap .agree .terms{
    margin-top: 20px;
}
section.join .wrap .agree .terms a span{
    color: #00cd3c;
    font-size: 13px;
}
section.join .wrap .agree .terms li:last-child a span{
    color: #9a9a9a;
}
section.join .wrap .agree .terms li a .arrow{
    display: inline-block;
    width: 15px;
    height: 10px;
    background: url('../images/btn_caluse_more.png') 0px 3px no-repeat;
}
section.join .wrap .agree .terms li a .arrow_on{
    display: inline-block;
    width: 15px;
    height: 10px;
    background: url('../images/btn_caluse_more.png') -35px 3px no-repeat;
}
section.join .wrap .agree .terms .hidebox{
    display: none;
    width: 400px;
    height: 150px;
    border: 1px #ccc solid;
    border-radius: 5px;
    overflow: auto;
    margin-top: -15px;
    margin-bottom: 20px;
}
section.join .wrap .agree .terms .hidebox p{
    padding: 10px;
    font-size: 13px;
    color: #848484;
    line-height: 20px;
}
section.join .wrap .nextbt{
    position: relative;
    margin: 20px auto 30px;
    width: 260px;
    height: 66px;
    line-height: 66px;
    background: #00cd3c;
}
section.join .wrap .nextbt a{
    display: block;
    text-align: center;
    color: #fff;
    font-size: 18px;
    background: #00cd3c;
}



/*회원가입2*/

.phone .name{
    margin-top: 40px;
    margin-bottom: -10px;
    font-size: 20px;
    color: #00cd3c;
    font-weight: bold;
}
.phone .resend{
    width: 120px;
    height: 32px;
    border: 1px #888 solid;
    border-radius: 50px;
    line-height: 32px;
    text-align: center;
}
.phone .resend a{
    display: block;
    color: #909090;
    font-size: 14px;
}



.join_form{
    margin: 0 auto;
    width: 400px;
}
.join_form input,select{
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    border: none;
    margin-left: 10px;
}
.join_form table tbody tr:nth-child(3){
    line-height: 20px;
}
.join_form table tbody tr:nth-child(3) p{
    font-size: 14px;
}
.join_form table tbody tr:nth-child(6) td.text{
    border: none;
}
.join_form table tbody tr:nth-child(6) input{
    margin-top: -1px;
    vertical-align: middle;
}

.join_form table tbody tr:nth-child(7) td,
.join_form table tbody tr:nth-child(8) td
{
    position: relative;
}
.birthday_form,
.email_form{
    position: absolute;
    top:0px;
    width: 350px;
    overflow: hidden;
}
.birthday_form ul li,
.email_form ul li{
    display: inline-block;
    border: 1px #bbb solid;
    border-radius: 5px;
    margin: 0 5px 0 0;
}
.birthday_form ul li:first-child{
    width: 124px;
}
.birthday_form ul li:first-child input{
    width: 85px;
}
.birthday_form ul li{
    width: 75px;
}
.birthday_form ul li input{
    width: 35px;
}
.email_form ul li:first-child{
    width: 170px;
}
.email_form ul li:first-child input{
    width: 150px;
}
.email_form ul li{
    width: 116px;
}
.email_form ul li select{
    width: 96px;
}













/* -----------------------------------------------*/
