<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/객체지향프로그래밍/src/객체지향프로그래밍/TestMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="객체지향프로그래밍.TestMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="객체지향프로그래밍"/>
</launchConfiguration>
