/*reset*/
*{margin:0; padding:0;}
body{
    font-size:12px;
    font-family: "돋움";
    color:#373737;
}
ol,ul,li{list-style: none;}
em,i{font-style: normal;}
a{
    text-decoration: none;
    color:#373737;
}
/*option*/
.fl{float:left}
.fr{float:right}


[class^="icon_"]{
    background-repeat: no-repeat;
}

[class*="up"]{
    color:blue
}
[class*="down"]{
    color:red
}


.icon_up_arrow{
    padding-left:8px;
    background-image: url(images/ico_rankUp.png);
    background-position: 0 2px
}

/*layout*/
.wrap{height:33px; border-bottom:1px #d5d0cc solid; background-color:#f8f8f8}
.wrap .header{width:990px; border:1px #F00 solid; margin:0 auto; line-height: 30px; height:30px; }

.header .bookmark{
    padding-left:13px;
    background-image: url(images/ico_bookmark_off.png);
    background-repeat: no-repeat;
    background-position: 0 9px;
    margin-right:13px;
}

.header .rank li{display: none;
    padding-left:20px;
    background-image: url(images/ico_rank10.png);
    background-repeat: no-repeat;
    background-position: 0 9px;
}
.header .rank li.on{display: block;}

.header .global_menu ul{font-size:0;}
.header .global_menu li:before{
    content:"";
    position:relative;
    display:inline-block;
    height:11px;
    vertical-align: middle;
    right:7px;
    width:1px;
    background-color:#CCC;
}

.header .global_menu li:first-child:before{
    content:"";
    width:0;
}

.header .global_menu li{
    display:inline-block;
    *display:inline;
    *zoom:1;
    font-size:12px;
    padding:0 7px 0 7px;
}


.lnb{border:1px #F00 solid; height:107px; width:990px; margin:0 auto}
.lnb .logo{width:105px; height:27px; border:1px #F00 solid; position:relative; top:35px;}
.lnb .banner{width:105px; height:27px; border:1px #F00 solid; width:240px; height:95px;}
.lnb .search{ height:73px; border:1px #F00 solid; background-color:#CCC;width:277px; margin:0 auto; position:relative; top:19px; right:600px}
























/*.*/
