* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  margin: 0;
  background-image: url("../image/Z.jpg");
  background-repeat: no-repeat;
  -wibkit-background-size: cover;
  background-size: cover;
  background-position: center 0;
}
header {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0 20px;
  box-shadow: 0 2px 7px #999;
  /* x  y  퍼짐정도 오퍼시티정도*/
}
header h1 {
  float: left;
}
header h1 a {
  display: block;
  background-image: url("../image/logo-s.png");
  width: 104px;
  height: 50px;
  text-indent: -9999px;
  /* h1 태그에 글을 썻기 떄문에 없애는 용도로 쓰려고 안보이는 조취*/
  font-size: 0;
  /* 익스플로어에선 0 이라도 ... 으로 나오기 떄문에 넣어준다.*/
  transition: 1s;
  padding: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
header h1 a:hover {
  transform: rotateY(180deg);
}
header nav {
  float: right;
}
header nav .menu {
  display: none;
  /* 숨겨진 상태로 만들어진다. 존재하지만 보여지진 않는다.*/
  height: 55px;
  width: 200px;
  background-color: #ff5d9f;
  position: relative;
  left: 20px;
  /*header 가 padding: 0 20px; 으로 띄워줬기 때문에 left 로 붙여준것*/
  line-height: 55px;
  text-align: center;
  font-weight: bold;
  letter-spacing: -0.5px;
  color: #fff;
}
header nav li {
  float: left;
  height: 100px;
  line-height: 100px;
  /* 이거 하나만 써줘도 되는데 표준성 때문에 height:100px;도 씀*/
  transition: 0.15s linear;
}
header nav li:hover {
  /*&를 써서 이어갈수 있다.(less 전용 단축어)
                                            li 에게 hover 시키면 이라는 뜻*/
  background-color: rgba(255, 255, 255, 0.5);
}
header nav li a {
  display: block;
  /* 이걸 쓰면 부모의 line-height 를 상속 받아서 자동으로 영역이
                                     line-height 값이 된다.(a 태그가 inline 이기 때문에)*/
  padding: 0 18px;
  font-size: 16px;
  color: #ff5d9f;
  font-weight: bold;
  letter-spacing: -0.5px;
  transition: 0.15s linear;
}
header nav li a:hover {
  border-top: 3px #f8c899 solid;
  color: #f8c899;
}
@media screen and (max-width: 769px) {
  body {
    background-image: url("../image/bg-720.jpg");
    background-position: center center;
  }
  header {
    height: 55px;
    /* bg 로 줬던 값 반응형에 맞게 사이즈 조절 */
  }
  header nav .menu {
    /* 캐스케이딩으로 우선순위를 제데로 안잡아줘야 하기 때문에 앞에 header가 명시되어야 한다.*/
    display: block;
    /*사이즈가 줄어들면서 블럭으로 다시 보여지는 상태가 된다.*/
  }
  header nav .menu:hover + ul {
    display: block;
  }
  header nav ul {
    display: block;
    /* header nav .menu 가 block 으로 바뀌었으니 기존 메뉴는 숨어야 한다.*/
    position: absolute;
  }
  header nav ul li {
    width: 200px;
    height: 46px;
    border: 1px #f00 solid;
  }
}
