@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic';
  font-size: 12px;
}
html,
body {
  height: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  margin: 0;
  background-image: url("../image/Z.jpg");
  background-repeat: no-repeat;
  -wibkit-background-size: cover;
  background-size: cover;
  background-position: center 0;
}
header {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0 20px;
  box-shadow: 0 2px 7px #999;
  /* x  y  퍼짐정도 오퍼시티정도*/
}
header h1 {
  float: left;
}
header h1 a {
  display: block;
  background-image: url("../image/logo-s.png");
  width: 104px;
  height: 50px;
  text-indent: -9999px;
  /* h1 태그에 글을 썻기 떄문에 없애는 용도로 쓰려고 안보이는 조취*/
  font-size: 0;
  /* 익스플로어에선 0 이라도 ... 으로 나오기 떄문에 넣어준다.*/
  transition: 1s;
  padding: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
header h1 a:hover {
  transform: rotateY(180deg);
}
header nav {
  float: right;
}
header nav .menu {
  display: none;
  /* 숨겨진 상태로 만들어진다. 존재하지만 보여지진 않는다.*/
  height: 55px;
  width: 200px;
  background-color: #ff5d9f;
  margin-right: -20px;
  /*header 가 padding: 0 20px; 으로 띄워줬기 때문에*/
  line-height: 55px;
  text-align: center;
  font-weight: bold;
  letter-spacing: -0.5px;
  color: #fff;
}
header nav li {
  float: left;
  height: 100px;
  line-height: 100px;
  /* 이거 하나만 써줘도 되는데 표준성 때문에 height:100px;도 씀*/
  transition: 0.15s linear;
}
header nav li:hover {
  /*&를 써서 이어갈수 있다.(less 전용 단축어)
                                            li 에게 hover 시키면 이라는 뜻*/
  background-color: rgba(255, 255, 255, 0.5);
}
header nav li a {
  display: block;
  /* 이걸 쓰면 부모의 line-height 를 상속 받아서 자동으로 영역이
                                     line-height 값이 된다.(a 태그가 inline 이기 때문에)*/
  padding: 0 18px;
  font-size: 16px;
  color: #ff5d9f;
  font-weight: bold;
  letter-spacing: -0.5px;
  transition: 0.15s linear;
}
header nav li a:hover {
  border-top: 3px #f8c899 solid;
  color: #f8c899;
}
section {
  /*height:calc(100% - 100px);
     body 사이즈에 header값 100px; 이 존재하기 때문에
    그 기준으로 부터 100% 라 밑에 header 만큼 떨어지게 된다.
    그래서 100% 에서 100px 만큼 띄운다.
    - 써줄떄 띄어쓰기 해야한다 아니면 -100px로 인식한다.*/
  position: relative;
  /* 자식 요소에 position:absolute; 를 쓰기위한 위치 값*/
}
section .biglogo {
  position: absolute;
  width: 350px;
  height: 350px;
  background-image: url("../image/mainlogo.png");
  left: 50%;
  margin-left: -175px;
  margin-top: 12%;
  transition: 1s;
}
section .biglogo:hover {
  transform: scale(1.3);
  opacity: 0;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  line-height: 57px;
  background-color: rgba(0, 0, 0, 0.4);
}
footer .bottomlogo {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  width: 105px;
  height: 45px;
  background-image: url("../image/jyplogo-b.png");
}
footer ul {
  float: right;
}
footer ul li {
  float: left;
}
footer ul li a {
  display: block;
  /*<a href="" title="facebook"></a> 이런식으로 a 에 영역이 없어서 li 사이즈와 같게 하려고 준다.*/
}
footer ul li a [class^="flaticon-"]::before {
  font-size: 30px;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  display: block;
}
body.bg_none {
  margin: 0;
  background-image: none;
}
header.zindex {
  position: relative;
  z-index: 10;
}
section.discography .title {
  background-image: url("../image/title-discography.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f4f4f4;
  height: 110px;
  text-indent: -9999px;
  font-size: 0;
  transition: 1s;
}
section.discography .wrap {
  line-height: 20px;
  margin: 0 auto 60px;
  width: 90%;
  max-width: 1000px;
}
section.discography .wrap .global-leng {
  margin: 50px auto 10px;
  height: 21px;
}
section.discography .wrap .global-leng a {
  color: #FFF;
  font-size: 10px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  /* 앞자는 대문자로*/
  display: inline-block;
  /* 인라인 블럭은 자동으로 띄어쓰기가 한칸 들어간다.*/
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-image: url("../image/a-titlebg.png");
  vertical-align: top;
}
section.discography .wrap .left,
section.discography .wrap .content {
  display: table-cell;
}
section.discography .wrap .left {
  width: 35%;
  margin-right: 20px;
  float: left;
}
section.discography .wrap .left img {
  width: 100%;
}
section.discography .wrap .left h3 {
  font-size: 13px;
  margin-top: 10px;
}
section.discography .wrap .left ol {
  list-style-position: inside;
}
section.discography .wrap .left ol:last-child {
  margin-bottom: 20px;
}
section.discography .wrap .content {
  overflow: hidden;
  vertical-align: top;
}
section.discography .wrap .content .title_bg {
  height: 60px;
  background-image: url("../image/a-titlebg.png");
  line-height: 56px;
  padding: 0 15px;
  margin-bottom: 20px;
  color: #fff;
}
section.discography .wrap .content .title_bg h2 {
  float: left;
  color: #fff;
  font-size: 24px;
}
section.discography .wrap .content .title_bg span {
  float: right;
  font-size: 12px;
}
section.discography .wrap .content h4 {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 10px;
}
section.discography .wrap .album-list {
  margin-top: 30px;
  text-align: center;
}
section.discography .wrap .album-list li {
  margin: 0 5px;
  vertical-align: top;
  display: inline-block;
}
section.discography .wrap .album-list li img {
  border: 1px #ddd solid;
}
section.discography .wrap .album-list li .description {
  display: block;
}
section.discography .wrap .album-list li .description span {
  display: block;
}
section.discography .wrap .album-list .list-btn a {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #CCC;
  display: inline-block;
  margin-top: 10px;
}
@media screen and (max-width: 769px) {
  body {
    background-image: url("../image/bg-720.jpg");
    background-position: center center;
  }
  header {
    height: 55px;
    /* bg 로 줬던 값 반응형에 맞게 사이즈 조절 */
  }
  header h1 a {
    width: 80px;
    height: 40px;
    padding: 0;
    margin-top: 5px;
    margin-left: -20px;
    background-size: cover;
  }
  header nav .menu {
    /* 캐스케이딩으로 우선순위를 제데로 안잡아줘야 하기 때문에 앞에 header가 명시되어야 한다.*/
    display: block;
    /*사이즈가 줄어들면서 none 에서 block으로 다시 보여지는 상태가 된다.*/
    /*  &:hover + ul{
                    display: block;
                }  스크립트 쓰면서 hover 가 아닌 click 으로 쓰기 위해 삭제*/
  }
  header nav ul {
    display: none;
    /* header nav .menu 가 block 으로 바뀌었으니 기존 메뉴는 숨어야 한다.*/
    position: absolute;
    /* 원래대로라면 absolute로 인해서 .menu 랑 분리되어 붕 떳기때문에 hover 했을 시에 별개의 오브젝트가 되어버린다.*/
    width: 200px;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
    /* .bglogo 와 겹치지 않게 하기위에서 값을 줌.*/
  }
  header nav ul li {
    float: none;
    /*float: left; 로 정렬이 된걸 세로형으로 하려고 none 시킴.*/
    display: block;
    /* display: block; 이 자식 영역에 쓰였을 경우 부모영역만큼 꽉 참*/
    height: 55px;
    line-height: 55px;
  }
  header nav ul li a {
    border-left: 0px #f8c899 solid;
  }
  header nav ul li a:hover {
    border-top: 0;
    border-left: 5px #f8c899 solid;
  }
  section .biglogo {
    margin-top: 0;
    /* 이미 pc 버전 제작시 12% 먹은것 없앤거*/
    transform: scale(0.8);
  }
  section.discography .title {
    -wibkit-background-size: 40%;
    background-size: 40%;
    height: 70px;
  }
  section.discography .wrap .album-list li {
    width: 100px;
  }
  section.discography .wrap .album-list li img {
    width: 100%;
  }
  section.discography .wrap .left,
  section.discography .wrap .content {
    display: block;
    width: auto;
    float: none;
  }
  section.discography .wrap .left {
    max-width: 350px;
    margin-right: 0px;
  }
}
